* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: linear-gradient(to right top, #3366ff, #3333cc);
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	color: #0000cc;
	font-weight: 600;
	font-size: 2rem;
}

h2 {
	font-weight: 300;
	font-size: 1rem;
	color: red;
	font-style: bold;
}

@media screen and (max-width: 1300px) {
	h1 {
		color: #0000cc;
		font-weight: 600;
		font-size: 2rem;
	}

	h2 {
		font-weight: 300;
		font-size: 0.8rem;
		color: red;
		font-style: bold;
	}
}
